# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/

# Database
*.db

# Node.js
node_modules/
dist/
.npm
/rsoc-ui/dist
/rsoc-ui/node_modules

# Vite
.vite/

# System
.DS_Store
Thumbs.db

# Gemini / Antigravity
.gemini/
brain/
